@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.menu {
  margin: 10px;
}

.center {
  text-align: center;
  font-family: sans-serif;
}

.container {
  margin-left: 210px;
  margin-top: -190px;
}

.container img {
  width: 800px;
  height: 800px;
}

.container h2 {
  display: block;
  margin-left: 320px;
  margin-top: -390px;
  font-size: 70px;
  font-family: Segoe UI Black;
}

.link {
  text-decoration: none;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.container a:hover,
.container a:focus,
.container a:active {
  background-position: 0 100%;
}

.container p {
  margin-left: 320px;
  margin-top: -45px;
  font-size: 30px;
  font-family: sans-serif;
}

.container button {
  margin-left: 520px;
  background-color: rgb(29, 27, 27);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 18px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.container button:hover {
  background-color: rgb(53, 49, 49);
  box-shadow: 0 8px 32px 0 rgba(32, 38, 138, 1.37);
  margin-top: -10px;
  transition: 1s all;
}

.about-page {
  margin: 100px;
}

.about-page h1 {
  font-size: 65px;
  font-family: Segoe UI Black;
  font-weight: bold;
}

.about-page p {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.p-link {
  display: flex;
  margin-top: -25px;
  margin-left: -32px;
}

.p-link a {
  color: black;
  margin: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.nav-btn {
  margin-left: 437px;
  margin-top: 30px;
  background-color: rgb(29, 27, 27);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 18px 69px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgb(53, 49, 49);
  box-shadow: 0 8px 32px 0 rgba(32, 38, 138, 1.37);
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 590px;
    margin-left: -312px;
    margin-bottom: 0;
  }

  .menu {
    margin: 4px;
  }

  .container h2 {
    font-size: 38px;
  }

  .container p {
    margin-top: -16px;
    font-size: 20px;
  }

  .container button {
    padding: 15px 20px;
    font-size: 15px;
  }

  .container img {
    margin-top: -820px;
    width: 100%;
    height: 100%;
  }

  .about-page {
    margin: 15px;
  }

  .about-page h1 {
    font-size: 45px;
  }

  .nav-btn {
    margin-left: 57px;
    padding: 12px 49px;
  }

  .about-page p {
    font-size: 20px;
  }

  .p-link {
    margin-top: -10px;
    margin-left: -40px;
  }
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}


#container {
  width: 63%;
  height: auto;
  margin-left: 250px;
  text-align: left;
  padding: 2px;
  column-count: 2;
  font-family: 'Poppins', sans-serif;
}

.card {
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 10px;
  margin-top: 55px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
}

.wrk-btn {
  margin-top: 80px;
  margin-left: -120px;
  background-color: rgb(29, 27, 27);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 18px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  display: inline-block;
  border: none;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #4b4b4b;
  margin: 2px;
  cursor: pointer;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: black;
  box-shadow: 0 8px 32px 0 rgba(32, 38, 138, 1.37);
  color: #e0efff;
}

@media screen and (max-width: 600px) {
  .works {
    margin: 0;
  }

  #container {
    margin: 20px;
    display: block;
    column-count: 1;
    width: 80%;
  }

  .wrk-btn {
    margin: 30px;
  }
}
